<?xml version="1.0" encoding="UTF-8" ?>
<showcase project-title="Demo website">
	<pagegroup title="Index projects">
		<page src="index.html" title="Index">
		</page>
	</pagegroup>

	<pagegroup title="Detail projects">
		<page src="text.html" title="Text page">
		</page>
		
	</pagegroup>


</showcase>
